@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-6 col-sm-offset-3">
        <h2>Short documentation</h2>
        
        <ul>
            <li>
                <p>Solution is build on .NET Framework 4.7.1, ASP.NET MVC 5 application</p>
            </li>
            
            <li>
                <p>Visual Studio - 2017 v.15</p>
            </li>
            
            <li>
                <p>Entity Framework - 6.2</p>
            </li>
            
            <li>
                <p>Current used MS SQL Server is v.17</p>
            </li>
        </ul>
        
        <h3>Additional libs</h3>
        <ul>
            <li>
                <p>Autofac 4.0.1 - Autofac is an IoC container for Microsoft .NET. It manages the dependencies between classes so that applications stay easy to change as they grow in size and complexity.</p>
            </li>

            <li>
                <p>Bootstrap 3.0 - Responsive grid system, extensive prebuilt components, and powerful plugins built on jQuery.</p>
            </li>

            <li>
                <p>jQuery 3.3.1 - dependency of Bootstrap and form validator on client side.</p>
            </li>
        </ul>
        
        <h3>Additional info</h3>
        <p>Web application project is separate in multiple projects for team development. There are several layers like data/ORM/, core, models and frond-end.</p>
        
        <h3>Web App info</h3>
        <p>Everyone can register a car dealer. There is no check if current dealer name is used /unique/.</p>
        <p>There is a dealer list where can filter by name. Correct filter input is text between of 3 and 20 charcter length. Filter field should match part or full name of a car. </p>
        <p>If you wish to add a car. There should be any dealer added. All properties of a car are required!</p>
        <p>By same logic car list has filter...where you can search by part or full match of car description or just by car dealer or mix by both checks.</p>

    </div>
</div>